c Simple graph 3-coloring problem (SAT)
c Triangle graph can be 3-colored
c Variables: v1_c1, v1_c2, v1_c3, v2_c1, v2_c2, v2_c3, v3_c1, v3_c2, v3_c3
p cnf 9 9
c Each vertex must have at least one color
1 2 3 0
4 5 6 0
7 8 9 0
c Adjacent vertices cannot have the same color
c Edge v1-v2
-1 -4 0
-2 -5 0
-3 -6 0
c Edge v2-v3
-4 -7 0
-5 -8 0
-6 -9 0
